@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 800px;
  min-height: 400px;
  margin-inline: auto;
  border: 1px solid #000;
  display:flex;
  justify-content: space-evenly;
  
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: space-evenly;
  align-items: center;
} 

.box {
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 80px;
  flex-grow: 1;
  flex-shrink: 1;
}

.box:nth-child(2){
  flex-grow:2;
  flex-shrink: 2;
}